<?php include(ROOT.'/views/layouts/header.html'); ?>
<div class="latest-projects__items">
    <?php foreach ($categories as $categoryItem): ?>
    <div class="recent-posts__box">
        <div class="recent-posts__img">
            <img src="https://produkty24.com.ua/photos/product/513x395/57209.jpg">
        </div>
        <div class="recent-posts__footer">
            <div class="recent-posts__title"><?php echo $categoryItem['name'];?></div>
            <a href="/category/<?php echo $categoryItem['id'];?>" class="btn__read-more">Read More</a>
        </div>
    </div>
    <?php endforeach; ?>
</div>
<?php include(ROOT.'/views/layouts/footer.html'); ?>