.search-group {
    width: 300px!important;
}

.left_menu {
    font-size: 30px;
    cursor: pointer;
    margin-right: 15px;
    color: #fff
}

.footer-bottom {
    background-image: linear-gradient(to top, #211b19 0%, #4e3427 100%);
    min-height: 30px;
    width: 100%;
}

.copyright {
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}

.design {
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}

.row p {
    margin: 0;
    color: #fff;
}

/* Style the links inside the navigation bar */
.navbar-collapse a {
    color: #fff;
    padding: 14px 16px;
}

/* Change the color of links on hover */
.navbar-collapse a:hover {
    background-color: silver;
    color: #111;
}

/* Style the "active" element to highlight the current page */
.navbar-collapse a.active {
    background-color: #2196F3;
    color: white;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #211b19 0%, #4e3427 100%);
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.latest-projects__items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 20px;
}

.latest-projects__box {
    width: 370px;
    margin-bottom: 30px;
}

.latest-projects__box a {
    opacity: 0;
}

.latest-projects__box:hover a {
    opacity: 100;
}

.latest-projects__box:hover .latest-projects__footer {
    background-color: #362f2d;
}

.latest-projects__box:hover .latest-projects__footer:before {
    border-bottom: 10px solid #362f2d;
}

.latest-projects__box:hover .latest-projects__title {
    color: #fff;
}

.latest-projects__box:hover .latest-projects__category {
    color: #c7b299;
}

.latest-projects__box:hover .latest-projects__img img {
    opacity: 0.6;
}

.latest-projects__box:hover .latest-projects__img {
    background-color: #111;
}

.latest-projects__img {
    position: relative;
    overflow: hidden;
}

.latest-projects__img img {
    margin-left: -1px;
    margin-top: -1px;
    width: 100.5%;
    height: auto;
    display: block;
}

.latest-projects__footer {
    background-color: #fbfaf8;
    text-align: left;
    padding: 25px 30px;
    position: relative;
}

.latest-projects__footer:before {
    content: '';
    position: absolute;
    top: -30px;
    left: 19px;
    border: 20px solid transparent;
    border-bottom: 10px solid #fbfaf8;
}

.latest-projects__title {
    color: #c7b299;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 14px;
}

.latest-projects__category {
    color: #d1d1d1;
    font-size: 14px;
}

.recent-posts__box {
    width: 360px;
    margin-bottom: 30px;
}

.recent-posts__box:hover {
    background-color: #362f2d;
}

.recent-posts__box:hover .recent-posts__day{
    background-color: #c7b299;
}

.recent-posts__box:hover .recent-posts__month {
    background-color: #a48d72;
}

.recent-posts__box:hover .recent-posts__footer {
    border-color: #362f2d;
}

.recent-posts__box:hover .recent-posts__title {
    color: #c7b299;
}

.recent-posts__box:hover .recent-posts__description {
    color: #fff;
}

.recent-posts__img {
    overflow: hidden;
    position: relative;
}

.recent-posts__img img {
    margin-top: -1px;
    margin-left: -1px;
    display: block;
    width: 100.5%;
    height: auto;
}

.recent-posts__date {
    top: 18px;
    left: 18px;
    position: absolute;
}

.recent-posts__day {
    color: #ffffff;
    font-size: 24px;
    line-height: 35px;
    width: 50px;
    height: 35px;
    border-radius: 3px 3px 0 0;
    background-color: #363636;
}

.recent-posts__month {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    width: 50px;
    height: 25px;
    border-radius: 0 0 3px 3px;
    background-color: #252525;
}

.recent-posts__footer {
    text-align: left;
    border: 1px solid #f8f8f8;
    border-top: none;
    padding: 20px 20px 23px;
}

.recent-posts__title {
    color: #555555;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.recent-posts__description {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 24px;
}

.btn__read-more {
    color: #c7b299;
    font-size: 14px;
    position: relative;
}

.btn__read-more:after {
    content: '';
    position: absolute;
    margin-top: -4px;
    margin-left: 9px;
    top: 50%;
    left: 100%;
    border: 5px solid transparent;
    border-left: 6px solid #c7b299;
}

.btn__read-more:hover {
    color: #fff;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}