<?php include(ROOT.'/views/layouts/header.html'); ?>
<div class="latest-projects__items">
    <div class="recent-posts__box">
        <div class="recent-posts__img">
            <img data-lazy="img/rec1.jpg">
            <div class="recent-posts__date">
                <div class="recent-posts__day">01</div>
                <div class="recent-posts__month">Sep.</div>
            </div>
        </div>
        <div class="recent-posts__footer">
            <div class="recent-posts__title">Lorem ipsum dolor sit amet</div>
            <div class="recent-posts__description">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</div>
            <a href="#" class="btn__read-more">Read More</a>
        </div>
    </div>
    <div class="recent-posts__box">
        <div class="recent-posts__img">
            <img data-lazy="img/rec1.jpg">
            <div class="recent-posts__date">
                <div class="recent-posts__day">01</div>
                <div class="recent-posts__month">Sep.</div>
            </div>
        </div>
        <div class="recent-posts__footer">
            <div class="recent-posts__title">Lorem ipsum dolor sit amet</div>
            <div class="recent-posts__description">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</div>
            <a href="#" class="btn__read-more">Read More</a>
        </div>
    </div>
    <div class="recent-posts__box">
        <div class="recent-posts__img">
            <img data-lazy="img/rec1.jpg">
            <div class="recent-posts__date">
                <div class="recent-posts__day">01</div>
                <div class="recent-posts__month">Sep.</div>
            </div>
        </div>
        <div class="recent-posts__footer">
            <div class="recent-posts__title">Lorem ipsum dolor sit amet</div>
            <div class="recent-posts__description">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</div>
            <a href="#" class="btn__read-more">Read More</a>
        </div>
    </div>
    <div class="recent-posts__box">
        <div class="recent-posts__img">
            <img data-lazy="img/rec1.jpg">
            <div class="recent-posts__date">
                <div class="recent-posts__day">01</div>
                <div class="recent-posts__month">Sep.</div>
            </div>
        </div>
        <div class="recent-posts__footer">
            <div class="recent-posts__title">Lorem ipsum dolor sit amet</div>
            <div class="recent-posts__description">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</div>
            <a href="#" class="btn__read-more">Read More</a>
        </div>
    </div>
    <div class="recent-posts__box">
        <div class="recent-posts__img">
            <img data-lazy="img/rec1.jpg">
            <div class="recent-posts__date">
                <div class="recent-posts__day">01</div>
                <div class="recent-posts__month">Sep.</div>
            </div>
        </div>
        <div class="recent-posts__footer">
            <div class="recent-posts__title">Lorem ipsum dolor sit amet</div>
            <div class="recent-posts__description">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</div>
            <a href="#" class="btn__read-more">Read More</a>
        </div>
    </div>
    <div class="recent-posts__box">
        <div class="recent-posts__img">
            <img data-lazy="img/rec1.jpg">
            <div class="recent-posts__date">
                <div class="recent-posts__day">01</div>
                <div class="recent-posts__month">Sep.</div>
            </div>
        </div>
        <div class="recent-posts__footer">
            <div class="recent-posts__title">Lorem ipsum dolor sit amet</div>
            <div class="recent-posts__description">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</div>
            <a href="#" class="btn__read-more">Read More</a>
        </div>
    </div>
</div>
//*коньяк в асортименте 5л- 2000 рублей
Ром бакарди белый супериори черный - 1000
бренди Кальвадос 0.7-1600
Джек Дениэлс 1 л- 1600
Текила ольмека голд 1л- 1600
Бифитер 1л - 1600
ликер куанро апельсин 5 литров - 4000*//
<?php include(ROOT.'/views/layouts/footer.html'); ?>